<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ginga NCL</string>
	<key>ordering</key>
	<array>
		<string>3F3B8830-3154-4EBB-9BA6-8E0E7D6E9F04</string>
	</array>
	<key>uuid</key>
	<string>01DB83B5-664E-4FBF-B6EB-9739205F903A</string>
</dict>
</plist>
